<!-- Encabezado -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      NgModel
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido -->

<ion-content padding>
  <!-- Formulario -->

  <!-- reserva -->
  
  <ion-item>
    <ion-label position="floating">
      No. de reserva
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [(ngModel)]="variable.reserva"></ion-input>
  </ion-item>

  <!-- nombres -->

  <ion-item>
    <ion-label position="floating">
      Nombres
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [(ngModel)]="variable.nombre"></ion-input>
  </ion-item>

  <!-- apellidos -->

  <ion-item>
    <ion-label position="floating">
      Apellidos
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [(ngModel)]="variable.apellidos"></ion-input>
  </ion-item>

  <!-- ubicacion -->

  <ion-item>
    <ion-label position="floating">
      Ciudad o Pais
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [(ngModel)]="variable.ubicacion"></ion-input>
  </ion-item>
  
  <!-- direccion -->
  
  <ion-item>
    <ion-label position="floating">
      Direccion
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [(ngModel)]="variable.direccion"></ion-input>
  </ion-item>
  
  <!-- telefono -->
  
  <ion-item>
    <ion-label position="floating">
      Telefono
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [(ngModel)]="variable.telefono"></ion-input>
  </ion-item>

  <!-- Boton -->
  
  <ion-footer>
    <ion-toolbar>
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="(saveForm())" >
          Registrar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>


</ion-content>

<!-- pie de pagina -->