<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prueba App Encabezado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>Hola</h1>
    <ion-h1>Prueba de titulo</ion-h1>
    <p>Prueba de parrafo</p>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prueba App</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Prueba de pie de pagina
    </ion-title>
  </ion-toolbar>
</ion-footer>

<!--
-->