<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button color="warning">
        <ion-icon slot="end" name="start"></ion-icon>
    </ion-button>
    <ion-title slot="start">
      Cartagena Premium
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Chek-In</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    Registrate antes de llegar a el hotel.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Chek-Out</ion-card-title>
  </ion-card-header>
<ion-card-content>
  Generar tu Chek-Out antes de llegar al loby con 30 minutos de anticipo.
</ion-card-content>
</ion-card>
<ion-card color="warning">
  <ion-card-header>
    <ion-card-title>Pagos</ion-card-title>
  </ion-card-header>
<ion-card-content>
  Realiza el pago de tu factura o de tu contenido. 
</ion-card-content>
</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Prueba de pie de pagina
    </ion-title>
  </ion-toolbar>
</ion-footer>
