<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <!--<form onsubmit="processForm(event)">-->

    <ion-item color="warning">
      <ion-label position="floating">
        No. Reserva 
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="warning">
      <ion-label position="floating">
        Nombres
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="warning">
      <ion-label position="floating">
        Apellidos
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="warning">
      <ion-label position="floating">
        Pais / Ciudad
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="warning">
      <ion-label position="floating">
        Direccion
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item color="warning">
      <ion-label position="floating">
        Telefono
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-footer>
      <ion-toolbar>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Registrar</ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>

    

  <!--</form>-->
</ion-content>
