
<!-- Encabezado -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<!-- Contenido -->

<ion-content [fullscreen]="true">

<!-- Titulo -->
  <ion-title>
    Chek In
  </ion-title>

  <!-- Formulario -->
  <form>

    <ion-item>
      <ion-label position="floating">
        No. Reserva 
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Nombres 
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Apellidos
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Pais / Ciudad
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Direccion
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Telefono
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <!-- Boton -->
    <ion-footer>
      <ion-toolbar>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" (click)="(saveForm())" >
            Registrar
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>

    
  </form>
  <!-- Fin del formulario -->

  <input type="text" [(ngModel)]="prueba">
  {{prueba}}
  <!-- Pie de pagina -->
</ion-content>
