
<!-- Encabezado -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<!-- Contenido -->

<ion-content [fullscreen]="true">

<!-- Titulo -->
  
  <!-- Formulario -->

    <!-- No. reserva -->
    <ion-item>
      <ion-label position="floating">
        No. de Reserva
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="formulario.reserva"></ion-input>
    </ion-item>

    <!-- No. tarjeta -->
    <ion-item>
      <ion-label position="floating">
        No. de Tarjeta
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="formulario.tarjeta"></ion-input>
    </ion-item>

    <!-- Fecha -->
    <ion-item>
      <ion-label position="floating">
        MM / DD
        <ion-text color="danger"></ion-text>
      </ion-label>
      <ion-input [(ngModel)]="formulario.fecha"></ion-input>
    </ion-item>
    
    <!-- cvc -->
    <ion-item>
      <ion-label position="floating">
        CVC
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="formulario.cvc"></ion-input>
    </ion-item>
    
    <!-- Boton -->
    <ion-footer>
      <ion-toolbar>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" (click)="(saveForm())" >
            Registrar
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>

  <!-- Fin del formulario -->
</ion-content>

<!-- Pie de pagina -->
